{% load static %}
<html>
<head>
<link rel="stylesheet" href="mystyle.css">
<a herf="{% url 'sems' %}">
Exit</a>

</head>

<body bgcolor=pink>
<h1>WELCOME TO JAVA PAGE</h1>
<h2>
subject: java
 durition: 28 hours
 faculty: HASYA (madam)
</h2>
<pre>
In an MCA (Master of Computer Applications) course, 
Java is a high-level, object-oriented programming language used to build web apps,
 mobile applications, and enterprise software systems. It is known for its Write Once, 
Run Anywhere capability, which means code written in Java can run on any device that supports the Java Virtual Machine (JVM).

Java syntax and structure is similar to C-based languages like C++ and C#.
 Its robustness, platform-independent compatibility,
 and strong memory management have made it a go-to language for developers worldwide.

Web-Development.webpWeb-Development.webp
This Java tutorial is designed for both beginners and experienced professionals
 and it covers basic to advanced Java topics.
</pre>
</body>
</html>