{% load static %}
<html>
<head>
<link rel="stylesheet" href="mystyle.css">
<a herf="{% url 'sems' %}">
Exit</a>

</head>
<body bgcolor=lightyellow>
<h1 Style="border:2px solid tomato" align=center>Welcome to seminor page</h1>
<pre>
pecial seminars are conducted every week for three periods. The students of various groups plan ahead and conduct the by rotation department wise.
Students of all groups can participate by giving their 6 days ahead for proper planning and implementation, the topic for the seminars will be selected by the students with the advice of the faculty members. The topics include current affairs of state, national and international events. They also select recent developments in science and technology and topics of common interest. Students collect information from journals, books and internet. They prepare power point presentation and present in the seminar.
The students present their skills in academic and cultural activities like paper presentation, poster presentation, singing, dancing and music etc.
Then quiz will be conducted by the organizing group of students divides the students into 4 groups.
All these activities including anchoring will be conducted by the students. All the students will be given an opportunity to participate in order to improve their communication skills, improve their stage performance and to gain confidence.
At the end of the seminar prizes will be given to best performances ends with national anthem.
</pre>
</body>
</html>