{% extends 'base.html' %}

{% block title %}MCA104{% endblock %}

{% block content %}
<h1>WELCOME TO OS<h1>
<p>MCA 104: Operating Systems 
UNIT I 
Computer System Structures: Computer System operation, I/O Structure, storage structures, Storage 
hierarchy, Hardware protection, Network structure. Operating system structures: System components, 
Operating System services, System calls, System programs, System structure, Virtual machines, System 
Design and Implementation, System Generation. Processes: Processes Concept, Processes Scheduling, 
Operations in processes, Inter processes communication, Communication in Client server systems, Threads: 
overview, multithreading models, Threading issues, PThreads,  
UNIT II 
CPU Scheduling: Scheduling criteria, Scheduling Algorithms, Multiple processor Scheduling, Real-time 
scheduling. Process Synchronization: - The critical-section problem, Synchronization hardware, Semaphores, 
Classic problems of Synchronization, Critical regions, Monitors. Dead Locks: Deadlock characterization, 
Deadlock handling, Deadlock prevention, Deadlock avoidance, Deadlock detection, and Recovery. 
UNIT III 
Memory Management: Swapping, Contiguous memory allocation, Paging, Segmentation with paging Concept 
of Virtual memory Demand paging Page replacement, Allocation of frames, Thrashing. File System Interface 
& Implementation: File concept, Access methods, Directory structure, File System Mounting File Sharing 
Protection, File system structure, and implementation, Directory implementation, Allocation methods. Free 
space management, Efficiency and performance, Recovery. 
UNIT IV 
I/O Systems: overview, I/O hardware, Application I/O interface, Kernel I/O subsystem, Transforming I/O to 
Hard ware operations, streams , Performance of I/O. Mass Storage Structure:- Disk Structure Disk 
Scheduling, Disk management, Swap-space Management, 
RAID Structure,  
UNIT V 
Security: User authentication, program threats, system threats, security systems Facilities, Linux system: 
History, Design principles, Kernel modules, process management, Scheduling Memory Management, File 
Systems.  
Text Books: 
1. Silberschatz A, Galvin P.B, and Gaghe G. Operating System Concepts, 8th edition, John Wiley, 2002.  
2. Tenenbaum A.S., Modern Operating Systems, 2nd edition, Pearson Education, 2001.  
Reference Books:  
1. 
2. 
Dhamdhere D.M., Operating Systems – A concept based Approach, Tata McGraw-Hill, 2002.  
` 
Bhatt P.C.P., An Introduction to Operating Systems – Concepts and Practice, PHI, 2003. </p>
{% endblock %}