{% extends 'base.html' %}

{% block title %}MCA203{% endblock %}

{% block content %}
<h1>WELCOME TO DCCN<h1>
<p>MCA 203: Data Communication and Computer Networks 
UNIT  I 
Introduction, Network models – Internet model, OSI model Physical Layer: Signals – Analog, Digital, Digital 
Transmission – Coding, Sampling, Analog Transmission – Modulation of digital and analog signal, 
Multiplexing – FDM, WDM, TDM, Transmission Media – cable, wireless, Circuit switching and Telephone 
network, DSL Technology, Cable modern, SONET.  
UNIT II  
Data Link Layer: Error detection and correction, Data link control and Protocols – Stop and wait, Go-back-n, 
Selective repeat, HDLC, Point to point access, LANS – Traditional Ethernet, Fast Ethernet, Wireless LAN’s – 
IEEE 802.11, Blue tooth, Connecting LANs – Connecting devices, Backbone networks, Virtual LANS, 
2G,3G,4G,5G wireless technologies, Satellite networks, Virtual circuit switching, Frame relay, ATM. 
UNIT III 
9 
Network Layer: Inter-networks, Addressing, Routing, Network layer Protocols, Types of Internet protocols – 
ARP, IPV4, ICMP, IPV6, Routing – Introduction, Unicast routing, Protocols – RIP, OSPF, BGP, Multicast 
Routing.  
UNIT  IV 
Transport Layer: Process-to-Process Delivery, UDP, TCP, Data traffic, Congestion and Control, Quality of 
service (QOS) and techniques to improve QOS, Integrated services, QOS in Switched networks. Security: 
Introduction. Symmetric-key and Asymmetric cryptography, Key Management and Kerberos, Message 
security, Digital signature, User authentication, E-mail Security, Web security, Social Issues.  
UNIT  V 
Application Layer: Design issues, file transfer, access and management. Client-Server model, Socket interface 
Introduction to DNS, Distribution of name space, DNS in the Internet. Electronic mail, SMTP, File Transfer, 
FTP, HTTP, World Wide web, Video-conferencing. 
Text Books:  
1.Forouzan B A, Data Communications and Networking, 4th edition, Tata McGraw-Hill, 2007.  
2.Tanenbaum A S, Computer Networks, 4th edition, Pearson Education, 2003.  
3.Ajay R. Mishra, Fundamentals of network planning and optimization, Willey,2nd edition,2018  
Reference Books:  
1. Stallings W, Data and Computer Communications, 7th edition, Pearson Education, 2004.  
2. Gallo M A, and Hancock W M, Computer Communications and Networking Technologies, Thomson  
Brooks/Cole, 2002.
</p>
{% endblock %}