{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>WELCOME TO ADBMS<h1>
<p>
MCA 204: Advanced Database Management Systems 
UNIT-I 
Introduction: Database- System Application – Purpose of Database Systems – View of Data – Database 
Languages– Relational Databases – Database Design–Object– based and Analysis – Database Architecture. 
Entity Relationship Model-Constraints-Entity-Relationship Diagrams, Design Issue-Weak Entity Sets
Database Design for Banking Enterprise and Unified Modeling language. Structure of Relational Databases 
Relational Algebra Operation– Modification of the Database. 
UNIT-II 
SQL : Data Definition- Structure of SQL Queries- Set Operations- Aggregate Functions- Nested Sub queries- 
Complex Queries – SQL Data Types and Schemas- Integrity Constraints-Authorization- Embedded SQL- 
Dynamic SQL- -Authorization in SQL.;PL/SQL Programming: Introduction, Control structures, Functions, 
Exception handling, Cursors, Triggers, Package.   
UNIT-III 
Object- Databases and XML: Object-based databases – Complex data types, structured types and inheritance 
in SQL, table inheritance, array and Multiset types in SQL, object identity and reference types in SQL, 
implementing O-R features, Persistent programming languages, OO vs OR. XML – Structure of XML, 
Document Schema, Querying and Transformation, API in XML, XML applications.
UNIT-IV 
10 
Query Processing: Measures of Query Cost-Selection Operation-Sorting-Joint Operation-Evaluation of 
Expressions-Query Optimization: Transformation of Relational Expressions-Estimating Statistics of 
Expression Results-Choice of Evaluation Plans. 
UNIT-V 
Transactions: Transaction concept, Transaction State-Implementation of Atomicity and Durability-Concurrent 
Executions- Serializability- Recoverability-Implementation of Isolation-Testing for Serializability, 
Concurrency Control: Lock Based Protocols-Timestamp-Based Protocols-Validation-Based Protocols
Multiple Granularity-MultiversionSchemes. Deadlock handling-Insert and Delete Operations-Weak Levels of 
Consistency-Concurrency in Index Structures 
Text Book: 
1.Silberschatz A. Korth H F, and Sudarsan S, Database System Concepts, 5th edition, McGraw-Hill 2002.  
Chapters 1to 4, 6 to 10 and 13 to 17) 
2.SQL, PL/SQL: The Programming Language of Oracle by Ivan Bayross, BPB Publications, 2nd Revised  
Edition. 
Reference Books: 
1. Date C J,AnIntroduciton to Database Systems, 7th edition, Pearson Educaiton, 2000. 
2. Elmasri R, and Navathe S B, Fundamentals of Database Systems, 4th edition, Pearson Education, 2004.  
3. Mannino M V, Database Application Development and Design, McGraw-Hill, 2001.
</p>
{% endblock %}