{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>WELCOME TO WEB TECHNOLOGIES<h1>
<p>MCA 303:Web Technologies 
UNITI 
Introduction to Internet-Browser Architecture-IE: Chrome-Search Engines-Introduction to HTML-5-HTML-5 
Tags-Audio, Video Tags – HTML-5 Forms-Controls-CSS Styling-CSS Tags-Attributes. 
UNIT II 
Java Script-JQuery: JavaScript Programming Scripts- Control structures- Functions-Document, Browser, 
Date, Math, String objects-Events- JQuery Libraries-JQuery Objects, Functions – JQuery Events-Animations. 
` 
 
UNIT III 
15 
AJAX Concepts:  Simple AJAX objects-Ajax Libraries-Examples, Webservers IIS, Tomcat-Hosting Website 
in a Web servers. 
UNIT IV 
Introduction to PHP: Control Structures-Arrays-Functions-Database connectivity-Introduction to ZEND 
Framework and applications 
UNIT-V 
Introduction to Java Servlets: Servlet classes and interfaces - Java Database Connectivity- Introduction to 
JSP-Java Server Page scriptlets -JSP Objects-JSP Web applications. 
Text Books: 
Deitel, Deitel and Goldberg Internet & World Wide Wide how to program”by End. Pearson Education  
Ivan Bayross, Webenavled commercial Application Development in Java 2.0 BPB.  
HTML 5 Black book, Kogent Learning Solutions Inc.  
Reference Books: 
Raj Kamal Internet and web Technologies, Tata McGraw Hill, 2002.  
Chirs Bates, Web Programming, John Wiley, 2nd Edition </p>
{% endblock %}