{% extends 'base.html' %}

{% block title %}MCA101{% endblock %}

{% block content %}
<h1>WELCOME TO PYTHON<h1>
<p>
Python is a high-level, versatile programming
 language known for its readability and ease of use,
making it suitable for both beginners and 
experienced programmers. It's widely used in
 web development, data science, machine learning,
and scripting, among other areas. Python's popularity
 stems from its clear syntax, extensive library support, 
and ability to run on various platforms. 

</p>
{% endblock %}