{% load static %}
<html>
<head>
<title>SIR</title>
<link rel="stylesheet" href=Nandini.css>
</head>
<body>
<h1> MTICA </h1>
<div class="navbar">
<div class="dropdown">
<button class="dropbtn">Semester-I</button>
<div class="dropdown-content">
<a href="{% url 'mca101' %}">MCA101</a>
<a href="{% url 'mca102' %}">MCA102</a>
<a href="{% url 'mca103' %}">MCA103</a>
<a href="{% url 'mca104' %}">MCA104</a>
<a href="{% url 'mca105' %}">MCA105</a>
<a href="{% url 'mca106' %}">MCA106P</a>
<a href="{% url 'mca107' %}">MCA107P</a>
<a href="{% url 'mca108' %}">MCA108P</a>
</div></div>
<div class="dropdown">
<button class="dropbtn">Semester-II</button>
<div class="dropdown-content">
<a href="{% url 'mca201' %}">MCA201</a>
<a href="{% url 'mca202' %}">MCA202</a>
<a href="{% url 'mca203' %}">MCA203</a>
<a href="{% url 'mca204' %}">MCA204</a>
<a href="{% url 'mca205' %}">MCA205</a>
<a href="{% url 'mca206' %}">MCA206</a>
<a href="{% url 'mca207' %}">MCA207P</a>
<a href="{% url 'mca208' %}">MCA208P</a>
<a href="{% url 'mca209' %}">MCA209P</a>
</div></div>
<div class="dropdown">
<button class="dropbtn">Semester-III</button>
<div class="dropdown-content">
<a href="{% url 'mca301' %}">MCA301</a>
<a href="{% url 'mca302' %}">MCA302</a>
<a href="{% url 'mca303' %}">MCA303</a>
<a href="{% url 'mca304' %}">MCA304</a>
<a href="{% url 'mca305' %}">MCA305</a>
<a href="{% url 'mca307' %}">MCA307</a>
<a href="{% url 'mca308' %}">MCA308P</a>
<a href="{% url 'mca309' %}">MCA309P/a>
<a href="{% url 'mca310' %}">MCA310P</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">Semester-IV</button>
<div class="dropdown-content">
<a href="{% url 'mca401' %}">S/W Testing</a>
<a href="{% url 'mca402' %}">Internet of Things</a>
<a href="{% url 'mca403' %}">Major Project Work</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">Faculty</button>
<div class="dropdown-content">
<a href="{% url '1' %}">PRABAKAR NAIDU</a>
<a href="{% url '2' %}">MURALI MOHAN</a>
<a href="{% url '3' %}">CHANDRA SHAKER</a>
<a href="{% url '4' %}">HASYA</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">About Us</button>
<div class="dropdown-content">
<a href="about.html">Information</a>

</div>
</div>
</div>
<h1>MURALI MOHAN<h1>
</body>
</html>