{% extends 'base.html' %}

{% block title %}MCA103{% endblock %}

{% block content %}
<h1>WELCOME TO CO<h1>
<p>MCA103: Computer Organization 
UNIT I 
Flip-flops – Registers and shift registers – counters – decoders – Multiplexers – PLDs – sequential 
circuits.Basic Structure of Computers. Functional UNITs – Basic operational concepts – Bus structures – 
performance – Multiprocessors and Multi computers – Historical Perspective. 
UNIT II 
Addressing Methods and Machine Program Sequencing: 1. Basic Concepts: –Memory locations and address, 
Main Memory operations, Instructions and Instruction Sequencing –Addressing Modes. 
UNIT III 
Input / Output organization: Accessing I/O Devices – Interrupts – Direct Memory Access-I/O Hardware
Standard I/O Interface. 
UNIT IV  
Memory System Concepts: – Semiconductor RAM Memories - Read only memories – Cache Memories – 
Performance Considerations –Virtual Memories: - Memory Management Requirements, Arithmetic: - 
Addition and subtraction of sign members – Design of fast adders – Multiplication of positive members – 
Signed operand multiplication – Fast multiplication – Integer division – Floating point numbers and 
operations.
UNIT V 
5 
Basic Processing UNIT: Concepts – execution of a complete instruction – Multiple – Bus organization – 
Hardware control – Micro Programmed Control. Pipelining: Concepts – Data hazards – Instruction hazards – 
Influence on Instruction sets - data path and control constructions. 
Text Book: 
1. Hamacher C, Vranesic Z, and Zaky S. Computer Organization, 5th edition, McGraw – Hill,2002.  
2. Stallings W, Computer Organization and Architecture, 6th edition. Parson Education,2003. 
Reference Books: 
1. Yarbrough JM, Digital Logic – Applications and Design, Thomas Learning, 1997. </p>
{% endblock %}