{% extends 'base.html' %}

{% block title %}MCA101{% endblock %}

{% block content %}
<h1>WELCOME TO DMS<h1>
<p>MCA 101:Discrete Mathematical Structures  
UNIT-I 
Logic and Proof: Propositional Logic, Propositional Equivalent, Predicators and Quantifiers, Nested 
Quantifiers, Rules of Inference, Induction to Proofs, Proof Methods and Strategies.  
UNIT-II 
Induction and Recursion: Mathematical Induction, Strong Induction and Well Ordering, Recursive Definitions 
and Structural Induction, Recursive Algorithms.  
UNIT-III 
Counting: The basics of counting, The Pigeonhole Principle, Permutations and Combinations, Binomial 
Coefficients, Generalized permutations and Combinations, Generating Permutations and Combinations.  
UNIT-IV 
Advanced Counting Techniques: Recurrence Relations, Solving Linear Recurrence Relations, Divide and 
Conquer algorithms and Recurrence Relations, Inclusion – Exclusion, Applications of Inclusion – Exclusion.  
UNIT – V 
Graphs: Graphs And Graph Methods, Graph Terminology And Special Types of Graphs, Representing 
Graphs and Graphs Isomorphism, Connectivity, Euler and Hamilton Paths, Shortest-Path Problems, Planar 
Graphs, Graph Coloring,    
Text books  
1. Discrete Mathematics and Its Applications, By Kenneth H Rosen, McGraw Hill, Sept.2002.  
 
Reference Books  
1. Discrete Mathematical Structures with Applications to Computer Science, By J.P.Tremblay, 
R.Manohar, McGraw Hill Pub, 1975. 
 
2. Discrete Mathematics by N. Chandrasekaran and M. Umaparvathi, Prentice-Hall of India.</p>
{% endblock %}