{% extends 'base.html' %}

{% block title %}MCA105{% endblock %}

{% block content %}
<h1>WELCOME TO AFM<h1>
<p>
MCA 105A: Accounting and Financial Management 
UNIT I 
Introduction to Financial Accounting Concepts: Definition and concepts, Significance, Branches of 
Accounting, Accounting Cycle-Journal – Ledger – Trial Balance – Final accounts. 
UNIT II 
Cost Accounting: Elements of Cost, Nature and significance – Cost classification and Allocation, Cost Sheet – Method of Inventory Valuation. 
UNIT III 
Financial Management: Meaning, scope and role. Financial Analysis through Ratios: Types of Ratios, 
Liquidity, Activity, Capital Structure and profitability ratio, Limitations of Ratios. 
UNIT IV 
Working Capital Management: Nature, Elements and Importance of working capital, types of working capital, 
Determinants of working capital. 
UNIT V 
Budgeting: Budgets, Purpose, Budgetary control, preparation of budgets, Types of budgeting methods, 
difference between Master Budget, fixed and flexible budgeting. 
Text Books: 
1. RajeswaraRao K and Prasad G, Accounting & Finance (MCA), Jai Bharat Publishers, Guntur  
2. Jain and Narang, Cost Accounting, Kalyani Publishers.  
Reference Books: 
1. Sharma R K, and Gupta S K, Management Accounting, Kalyani Publishers.  
2. Financial Management Text and Problems: M.Y.Khan, P.K.Jain. 
3. Financial Management Theory and Practices, Prasanna Chandra tata McGraw Hills. </p>
{% endblock %}