{% extends 'base.html' %}

{% block title %}MCA205{% endblock %}

{% block content %}
<h1>WELCOME TO E.Com<h1>
<p> MCA 205A: E-Commerce 
UNIT  I 
Electronic Commerce: Electronic Commerce Framework; Electronic Commerce and Media Convergence; 
The Anatomy of E-Commerce Application; Electronic Commerce Organization Applications- The Network 
Infrastructure for Electronic Commerce: Market Forces Influencing the I- Way; Components of the I Way; 
Network Access Equipment; the Last Mlle: Local Roads and Access Ramps; Global Information Distribution: 
Networks: Public Policy Issues Shaping the I-Way. Case study: B2B ecommerce 
UNIT II 
The Internet as a Network Infrastructure: The Internet Terminology; Chronological History of the Internet 
NSFNET: Architecture and Components: Globalization of the Academic Internet; Internet Governance: The 
Internet Society –An Overview of Internet:Applications –Electronic Commerce; World Wide Web(WWW) as 
the Architecture: Web Background: Hypertext Publishing; Technology behind the Web: Security and the 
Web-Consumer-Oriented Electronic Commerce: Oriented Applications; Mercantile Process,Models 
Mercantile Models from the Consumer’s Perspective; Mercantile Models from the Merchant’s Perspective. 
Case study: E-Commerce/High Security (Pci). 
UNIT  III 
Electronic Payment Systems: Types of Electronic Payment Systems; Smart Cards and Electronic Payment 
Systems; Credit Card-Based Electronic Payment systems: Risk and Electronic Payment Systems Designing 
Electronic Payment systems – Inter organizational Commerce and EDI: Legal, security, and Privacy 
Issues:EDI and Electronic Commerce – EDI Implementation, MIME, and Value- Added Networks : 
Standardization and EDI;EDI Software Implementation: EDI Envelope for Message Transport: Value- Added 
Networks (VANs); Internet – Based EDI.Case study: Social Media Marketing.
UNIT IV 
11 
Intra organization Electronic Commerce: Internal Information System: Macro forces and Internal Commerce; 
Work-Flow Automation and Coordination; Customization and Internal Commerce; Supply Chain 
Management (SCM) – The Corporate Digital Library: Dimensions of Internal Electronic Commerce Systems; 
Making a Business Case for a Document Library; Types of Digital Document Library; Types of Digital 
Documents; Issues behind Document Infrastructure; Corporate Data Warehouses. Case study: Email 
Marketing, Email Personalization 
UNIT V 
M-Commerce: Introduction to Mobile Commerce, Limitations, history, applications,architecture, transaction 
models, payment methods, advantages, disadvantages Case study: Mobile app marketing case study: O2 
Priority Moments gets small businesses on side. 
Text Book: 
1. Ravi Kalakota and Andrew B.Whinston. Frontiers of Electronic commerce, Pearson Education. 
Reference Books: 
1. Henry Chan, Raymond Lee. TharanDillan and E.Chany,E-Commerce, Wiley,2003.  
2. DanjelMinoli and EmunaMimoli, Web Commrece Technology, Tata MicGraw Hill, 1999.  
3. Marilyn Greenstein and Todd M Feinman, aElectronic Commerce, TaraMcGraw Hill Edition. </p>
{% endblock %}