{% extends 'base.html' %}

{% block title %}MCA201{% endblock %}

{% block content %}
<h1>WELCOME TO COOR<h1>
<p>MCA II SEMESTER 
MCA 201: Computer Oriented Operations Research 
UNIT-I 
Linear Programming: Concept ofLinear Programming Model, Development ofLP Model, Graphical Method, 
Simplex Method, Duality, Formulation of DualProblem, Application ofDuality,(Text Book 1). 
UNIT-II 
Transportation Problem:  mathematical Model for Transportation Problem, Types of transportation problem, 
Finding the Initial Basic Solution, Optimal Solution by U-V method, Assignment problem, Formulation of 
Assignment problem-Hungerian Method, Method of Solution, Branch and Bound Technique for Assignment 
Problem,(Text Book 1). 
UNIT-III 
Network Techniques: Shortest-Path Model, Systematic Method- Dijkstra’sAlgorithm, Floyid’s Algorithm, 
Minimum Spanning Tree Problem, Prime Algorithm, Krusakals Algorithm, Maximal Flow Problem, Linear 
Programming Modeling for Maximal Flow Problem, Maximal Flow Problem Algorithm, (Text Book 1).  
UNIT-IV 
Games and Strategies : Two –Person Zero- Sum Games, Maximin- Minimax Principle, Games Without 
Saddle Points- Mixed Strategies, Graphic Solution Of 2 x n, And m x 2 Games , Dominance Property, 
Arithmetic Model For n x n Games, General Solution For m x n Rectangular  Games(Text Book 2). 
UNIT – V 
QueueingTheory:Queueing System, Elements OfQueueing System, Operating Characteristics Of Queueing 
System, Probability Distributions In QueueingSystem, Classification Of Queueing Models, Poisson Queueing 
Systems, Non Poisson Queueing Systems. Network Scheduling by PERT / CPM: Rules Of Network 
Construction, Critical Path Analysis, Probability Considerations In PERT (Text Book 2).  
Text Books: 
1. R.Pannerselvam., “Operations Research” 2nd Edition, Prentice-Hall of India  
2. KantiSwarup., P.K.Gupta and Man Mohan, ., “Operations Research” 12th Edition Sultan chand& Sons  
Reference Books:  
1. Taha H.A., Operations Research: An Introduction, Prentice-Hall of India  
2. S.D.Sharma., Operations Research, KedarNath Ram Nath, Delhi  </p>
{% endblock %}