{% extends 'base.html' %}

{% block title %}MCA202{% endblock %}

{% block content %}
<h1>WELCOME TO DS JAVA<h1>
<p>MCA 202: Data Structures Using Java 
Linear Data Structures : Abstract Data Types - Asymptotic Notations: Big-Oh, Omega and Theta – Best, 
Worst and Average case Analysis: Definition and an example – Arrays and its representations – Stacks and 
Queues – Linked lists – Linked list based implementation of Stacks and Queues – Evaluation of Expressions – 
Linked list based polynomial addition. 
UNIT II 
Non-Linear Data Structures; Trees – Binary Trees – Binary tree representation and traversals – Threaded 
binary trees – Binary tree representation of trees – Application of trees: Set representation and Union-Find 
operations – Graph and its representations – Graph Traversals DFS and BFS – Connected components, 
Applications of Graphs-Minimum cost spanning tree using Kruskal’s algorithm, Dijkstra’s algorithm for 
Single Source Shortest Path Problem. 
UNIT III 
Search Structures And Priority Queues: AVL Trees – Red-Black Trees – Splay Trees – Binary Heap – Leftist 
Heap-Implementation of priority Queue ADT with Heap 
UNIT IV 
Sorting: Insertion sort – Merge sort – Quick sort – Heap sort – Radix Sort- Comparison of sorting algorithms 
in terms of Complexity - Sorting with disks – k-way merging – Sorting with tapes – Polyphase merge. 
UNIT V 
Searching And Indexing: Linear Search – Binary Search - Hash tables – Overflow handling – Cylinder 
Surface Indexing – Hash Index – B-Tree Indexing, B+ Trees. 
Text Book: 
1. SartajSahni, Data Structures, Algorithms and Applications in Java, Second Edition, University Press.  
2. Gregory L. Heilman, Data Structures, Algorithms and Object Oriented Programming, Tata Mcgraw-Hill,  
New Delhi, 2002. 
References: 
1. 
Jean-Paul Tremblay and Paul G. Sorenson, An Introduction to Data Structures with Applications, Second  
Edition, Tata McGraw-Hill, New Delhi, 1991. 
2. Alfred V. Aho, John E. Hopcroft and Jeffry D. Ullman, Data Structures and Algorithms, Pearson  
Education, New Delhi, 2006.</p>
{% endblock %}