{% extends 'base.html' %}

{% block title %}MCA302{% endblock %}

{% block content %}

<h1>WELCOME TO COMPUTER GRAPHICS<h1>
<p>MCA 302: Computer Graphics 
UNIT I 
Overview of Graphics systems, Application areas of Computer Graphics, video-display devices, Raster-scan 
systems, random scan systems, graphics monitors and workstations and input devices. Output primitives: 
Points and lines, line drawing algorithms, mid-point circle and ellipse algorithms.  
UNIT II 
Filled area primitives: Scan line polygon fill algorithm, boundary-fill and flood-fill algorithms. 2-D 
Geometrical transforms: Translation, scaling, rotation, reflection and shear transformations, matrix 
representations and homogeneous coordinates. 
UNIT III 
2-D Viewing: The viewing pipeline, viewing coordinate reference frame, window to view-port coordinate 
transformation, viewing functions, Cohen-Sutherland and Cyrus-beck line clipping algorithms, Sutherland 
Hodgeman polygon clipping algorithm. 
UNIT IV 
3-D Object representation: Polygon surfaces, quadric surfaces, spline representation, Hermite curve, Bezier 
curve and B-spline curves, Bezier and B-spline surfaces. Basic illumination models, polygon rendering 
methods. 
UNIT V 
3-D Geometric transformations: Translation, rotation, scaling, reflection and shear transformations, composite 
transformations, 3-D viewing: Viewing pipeline, viewing coordinates, view volume and general projection 
transforms and clipping. 
Computer Animation: Design of animation sequence, general computer animation functions, Raster 
animations, Computer animation languages, Key frame systems 
Text Books: 
1. Donald Hearn and M.Pauline Baker, Computer Graphics C Version, Second Edition, Pearson  
Educations.2005. 
Reference Books: 
1. Steven Harrington (1987), Computer Graphics – A Programming Approach, Second Edition, McGraw –  
Hill International Editions. 
2. William M. Newman and Robert F. Sprowli (1979), Principles of Interactive Computer Graphics, second  
Edition, McGraw – Hill International Editions.</p>
{% endblock %}