{% extends 'base.html' %}

{% block title %}MCA305{% endblock %}

{% block content %}
<h1>WELCOME TO MOBILE APPLICATION DEVELOPMENT<h1>
<p>MCA 305C: Mobile Application Development 
UNIT I 
Introduction to mobile applications – Embedded systems - Market and business drivers for mobile 
applications – Publishing and delivery of mobile applications – Requirements gathering and validation for 
mobile applications 
UNIT II 
Basic Design :Introduction – Basics of embedded systems design – Embedded OS - Design constraints for 
mobile applications, both hardware and software related – Architecting mobile applications – User interfaces 
for mobile applications – touch events and gestures – Achieving quality constraints – performance, usability, 
security, availability and modifiability. 
UNIT III 
Advanced Design: Designing applications with multimedia and web access capabilities – Integration with 
GPS and social media networking applications – Accessing applications hosted in a cloud computing. 
UNIT IV 
Technology I - Android : Introduction – Establishing the development environment – Android architecture – 
Activities and views – Interacting with UI – Persisting data using SQLite – Packaging and deployment – 
Interaction with server side applications – Using Google Maps, GPS and Wifi – Integration with social media 
applications. 
UNIT V 
19 
Technology II–IOS: Introduction to Objective C – iOS features – UI implementation – Touch frameworks – 
Data persistence using Core Data and SQLite – Location aware applications using Core Location and Map Kit – Integrating calendar and address book with social media application  
Text Books 
1. Jeff McWherter and Scott Gowell, "Professional Mobile Application Development", Wrox, 2012  
2. Charlie Collins, Michael Galpin and Matthias Kappler, “Android in Practice”, DreamTech, 2012  
Reference Books 
1. http://developer.android.com/develop/index.html  
2. David Mark, Jack Nutting, Jeff LaMarche and Frederic Olsson, “Beginning iOS 
3. Development: Exploring the iOS SDK”, Apress, 2013. </p>
{% endblock %}