{% extends 'base.html' %}

{% block title %}MCA304{% endblock %}

{% block content %}
<h1>WELCOME TO SYSTEM PROGRAMMING<h1>
<p>MCA 304A: Data Warehousing and Datamining 
UNIT I 
Data warehousing and OLAP:Data Warehouse basic concepts, Data Warehouse Modelling, Data Cube and 
OLAP: Characteristics of OLAP systems, Multidimensional view and Data cube, Data Cube Implementations, 
Data Cube operations, Implementation of OLAP and overview on OLAP Software.  
UNIT II 
Data Mining and its Applications :Introduction, What is Data Mining, Motivating Challenges, Data Mining 
Tasks, Which technologies are used for data mining, Kinds of pattern that can be mined, Data Mining 
Applications, Data Pre-processing, Data cleaning, data integration, data reduction and data transformation.  
UNIT III 
Association Analysis: Basic Concepts and Algorithms :Frequent Item set Generation, Rule Generation, 
Compact Representation of Frequent Item sets, Alternative methods for generating Frequent Item sets, FP 
Growth Algorithm, Evaluation of Association Patterns  
UNIT IV 
Classification: Methods, Improving accuracy of classification:Basics, General approach to solve classification 
problem, Decision Trees, Rule Based Classifiers, NearestNeighbour Classifiers. Bayesian Classifiers, 
Estimating Predictive accuracy of classification methods, Improving accuracy of classification methods, 
Evaluation criteria for classification methods, Multiclass Problem.  
UNIT V 
Clustering Techniques: Overview: Features of cluster analysis, Types of Data and Computing Distance, Types 
of Cluster Analysis Methods, Partitional Methods, Hierarchical Methods, Density Based Methods, Quality 
and Validity of Cluster Analysis 
Text Books:  
1.Jiawei Han and MichelineKamber: Data Mining - Concepts and Techniques, 2nd Edition, Morgan  
Kaufmann Publisher, 2006.  
2.Pang-Ning Tan, Michael Steinbach, Vipin Kumar: Introduction to Data Mining, Addison- Wesley,  
2005.  
Reference Books:  
1. 
2. 
3. 
Arun K Pujari: Data Mining Techniques University Press, 2nd Edition, 2009.  
G. K. Gupta: Introduction to Data Mining with Case Studies, 3rd Edition, PHI, New Delhi, 2009.  
Alex Berson and Stephen J.Smith: Data Warehousing, Data Mining, and OLAP Computing  
McGrawHill Publisher, 1997</p>
{% endblock %}