{% load static %}
<html>
<head>
<title>testing</title>
<link rel="stylesheet" href="{% static 'css/kokila.css' %}">
</head>
<body>
<h1> MTICA </h1>
<div class="navbar">
<div class="dropdown">
<button class="dropbtn">Semester-I</button>
<div class="dropdown-content">
<a href="{% url 'mca101' %}">MCA101</a>
<a href="{% url 'mca102' %}">MCA102</a>
<a href="{% url 'mca103' %}">MCA103</a>
<a href="{% url 'mca104' %}">MCA104</a>
<a href="{% url 'mca105' %}">MCA105</a>
<a href="{% url 'mca106' %}">MCA106P</a>
<a href="{% url 'mca107' %}">MCA107P</a>
<a href="{% url 'mca108' %}">MCA108P</a>
</div></div>
<div class="dropdown">
<button class="dropbtn">Semester-II</button>
<div class="dropdown-content">
<a href="{% url 'mca201' %}">MCA201</a>
<a href="{% url 'mca202' %}">MCA202</a>
<a href="{% url 'mca203' %}">MCA203</a>
<a href="{% url 'mca204' %}">MCA204</a>
<a href="{% url 'mca205' %}">MCA205</a>
<a href="{% url 'mca206' %}">MCA206</a>
<a href="{% url 'mca207' %}">MCA207P</a>
<a href="{% url 'mca208' %}">MCA208P</a>
<a href="{% url 'mca209' %}">MCA209P</a>
</div></div>
<div class="dropdown">
<button class="dropbtn">Semester-III</button>
<div class="dropdown-content">
<a href="{% url 'mca301' %}">MCA301</a>
<a href="{% url 'mca302' %}">MCA302</a>
<a href="{% url 'mca303' %}">MCA303</a>
<a href="{% url 'mca304' %}">MCA304</a>
<a href="{% url 'mca305' %}">MCA305</a>
<a href="{% url 'mca307' %}">MCA307</a>
<a href="{% url 'mca308' %}">MCA308P</a>
<a href="{% url 'mca309' %}">MCA309P/a>
<a href="{% url 'mca310' %}">MCA310P</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">Semester-IV</button>
<div class="dropdown-content">
<a href="{% url 'mca401' %}">S/W Testing</a>
<a href="{% url 'mca402' %}">Internet of Things</a>
<a href="{% url 'mca403' %}">Major Project Work</a>
<a href="{% url 'mca404' %}">Python Full Stock Training</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">Faculty</button>
<div class="dropdown-content">
<a href="{% url 'm' %}">PRABAKAR NAIDU</a>
<a href="{% url 'n' %}">MURALI MOHAN</a>
<a href="{% url 'o' %}">CHANDRA SHAKER</a>
<a href="{% url 'p' %}">HASYA</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">About Us</button>
<div class="dropdown-content">
<a href="about.html">Information</a>

</div>
</div>
</div>
<h1>WELCOME TO S/W TESTING<h1>
<p>
MCA 401C:Software Testing 
The role of process in software quality: Testing as a process - Overview of the Testing Maturity Model 
(TMM) - Basic definitions - Software testing principles - Origins of defects - Defect classes, Defect repository - Test design - Defect example: the coin problem  
UNIT II 
Test case design strategies : Black box approach - Random testing - Equivalence class partitioning - Boundary 
value analysis - Cause and Effect graphing - State transition testing - Error guessing - White box approach - 
Test adequacy criteria - Coverage and control flow graphs - Covering code logic - Data flow and white box 
test design - Loop testing - Mutation testing - Evaluating test adequacy criteria.  
UNIT III 
Levels of testing : Unit test: functions, procedures, classes and methods as units - Unit test planning - 
Designing test units - The class as a testable unit - The test harness - Integration test: goal - Integration 
strategies for procedures and functions - Integration strategies for classes - Designing integration test - System 
test - The different types - Regression testing - Alpha, beta and acceptance test - Test planning - Test plan 
components - Test plan attachments - Reporting test results.  
UNIT IV 
Software quality: Defining Quality: importance of quality - Quality control v/s quality assurance - Quality 
assurance at each phase of SDLC - Quality assurance in software support projects - SQA function - Quality 
management system in an organization - Software quality assurance plans - Product quality.  
UNIT V 
Software metrics and models:  Walkthroughs and Inspections - Software Configuration Management - 
ISO:9001 Model - CMM Model - CMM and ISO comparative analysis - CMM-I . 
Text Books 
1. IIeneBurnstein, "Practical Software Testing", Springer International Edition, First Indian reprint,  
2004.  
2. Nina S Godbole, "Software Quality Assurance, Principles and Practice", Narosa Publishing House, 2004.  
Reference Books 
1. P.C. Jorgensen, "Software Testing - A Craftman's Approach", CRC press, 1995.  
2. Boris Beizer, van Nostrand Reinhold, "Software Testing Techniques", 2nd Edition, 1990.</p>
</body>
</html>
