{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mother theresa Institute technology{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="navbar">
<div class="dropdown">
<button class="dropbtn">SEM1</button>
   <div class="dropdown-content">
     <a href="{% url 'mca101' %}">mca-101</a>
     <a href="{% url 'mca102' %}">mca-102</a>
     <a href="{% url 'mca103' %}">mca-103</a>
     <a href="{% url 'mca104' %}">mca-104</a>
      <a href="{% url 'mca105' %}">mca-105</a>
      <a href="{% url 'mca106' %}">SOFTWARE LAB mca-106,107</a>
     <a href="{% url 'mca107' %}">JAVA LAB mca-108</a>
     <a href="{% url 'mca108' %}">OS LAB mca-109</a>
    </div></div>
<div class="dropdown">
<button class="dropbtn">SEM2</button>
   <div class="dropdown-content">
     <a href="{% url 'mca201' %}">mca-201</a>
     <a href="{% url 'mca202' %}">mca-202</a>
     <a href="{% url 'mca203' %}">mca-203</a>
     <a href="{% url 'mca204' %}">mca-204</a>
      <a href="{% url 'mca205' %}">mca-205</a>
      <a href="{% url 'mca206' %}">mca-206</a>
     <a href="{% url 'mca207' %}">SOFTWARE LAB2 </a>
     <a href="{% url 'mca208' %}">DS JAVA LAB</a>
     <a href="{% url 'mca209' %}">ADBMS LAB</a>
    </div></div>

<div class="dropdown">
<button class="dropbtn">SEM3</button>
   <div class="dropdown-content">
     <a href="{% url 'mca301' %}">mca-301</a>
     <a href="{% url 'mca302' %}">mca-302</a>
     <a href="{% url 'mca303' %}">mca-303</a>
     <a href="{% url 'mca304' %}">mca-304</a>
      <a href="{% url 'mca305' %}">mca-305</a>
      <a href="{% url 'mca306' %}">seminors</a>
       <a href="{% url 'mca307' %}">lab1</a>
       <a href="{% url 'mca308' %}">lab2</a>
       <a href="{% url 'mca309' %}">lab3</a>

    </div></div>
  <div class="dropdown">
<button class="dropbtn">SEM4</button>
   <div class="dropdown-content">
     <a href="{% url 'mca401' %}">mca-401</a>
     <a href="{% url 'mca402' %}">mca-402</a>
       <a href="{% url 'mca403' %}">major project</a>
    </div></div>
<div class="dropdown">
<button class="dropbtn">Exit</button>
   <div class="dropdown-content">
     <a href="{% url 'exit' %}">exit</a>
</div></div>
</div>
    
</head>
<body>
<header>

    
     
        <h1><img src="{% static 'img/logo.png' width=60 hight=60 %}" />My Mother theresa Institute technology</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Website</p>
    </footer>
</body>
</html>