{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/myfirst.css' %}">
<script src="{% static 'js/script.js' %}">
</script>
</head>
<body>
<table border=2;>
<tr>
<th>First Number:</th>
<td><input id="txtFirstNumber"></td>
</tr>
<tr>
<th>Second Number:</th>
<td><input id="txtSecondNumber"></td>
</tr>
<tr>
<td><button onclick="add()">Add</button></td>
<td><button onclick="sub()">Subtract</button></td>

<tr><td colspan="2"><button onclick="abc()">clear</button></td></tr>
<tr><td colspan="2">sum = <input id="txtAnswer"></td></tr>
<img src="{% static 'img/butterfly.png' %}">
</table>
</body>
</html>